// ---------- ABOUT ----------
.about {
  background-image: url('../img/about/bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 790px;
  display: flex;
  flex-direction: row;


  .about__prev-button,
  .about__next-button {
    background-color: transparent;
    border: none;
  }

  .common-yellow-button.hidden {
    display: none;
  }

  .container-fluid {
    display: flex;
    align-items: center;
    height: 600px;

    .about__text {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      width: 550px;
      height: 300px;

      .common-yellow-button {
        width: 172px;
        height: 38px;
      }
    }
  }

  @media (max-width: 768px) {
    .container-fluid {
      height: 400px;
    }

      .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 100%;


        .col-10 {
          display: flex;
          order: 1;

          .about__text {
            height: 100px;
            max-width: 100%;

            .common-title-l {
              text-align: center;
              max-width: 435px;
            }
          }

          .common-yellow-button {
            display: none;
          }

          .common-text-s-w {
            display: none;
          }
        }

        .about__prev-button {
          order: 2
        }

        .about__next-button {
          order: 3;
        }

        .common-yellow-button.hidden {
          order: 4;
          display: flex;
        }
      }
    }

}