@use 'color' as *;

// ---------- ABOUT ----------
.about {
  background-image: url('../img/about/bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 790px;
  display: flex;
  flex-direction: row;

  .container-fluid {
    display: flex;
    align-items: center;
    height: 600px;

    // ---------- ABOUT-TEXT
    .about__text {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      width: 550px;
      height: 300px;

      .common-yellow-button {
        width: 172px;
        height: 38px;
      }
    }

    .about__prev-button,
    .about__next-button,
    .about__next-button-small,
    .about__prev-button-small {
      background-color: transparent;
      border: none;
    }
  }
}

// ---------- ABOUT-MEDIA ----------
@media (min-width: 769px) {
  .hidden-block {
    display: none;
  }
}

@media (max-width: 768px) {
  .about {
    .container-fluid {
      .about__text {
        width: 100%;
        height: 150px;

        .hidden-button-large {
          display: none;
        }
      }
    }
  }

  .common-title-l {
    text-align: center;
    width: auto;
  }

  .common-text-s-w {
    display: none;
  }

  .about__prev-button,
  .about__next-button {
    display: none;
  }

  .hidden-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    // ---------- ABOUT-HIDDEN-BLOCK
    &__button-block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 30px 0;
    }

    .hidden-button-small {
      width: 172px;
      height: 38px;
    }
  }
}
