// ---------- ABOUT ----------
.about {
  background-image: url('../img/about/bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 790px;
  display: flex;
  flex-direction: row;


  .about__prev-button,
  .about__next-button {
    background-color: transparent;
    border: none;
  }

  .container-fluid {
    display: flex;
    align-items: center;
    height: 600px;

    .about__text {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      width: 550px;
      height: 300px;

      .common-yellow-button {
        width: 172px;
        height: 38px;
      }
    }
  }
}


// ---------- ABOUT MEDIA----------
@media (max-width: 768px) {
  .about {
    flex-flow: row wrap;
    .container {
      order: 1;
    }

    .about__prev-button {
      order: 2;
    }
    .about__next-button {
      order: 3;
    }
  }
}