// ---------- BOOKING-SECTION ----------
.booking {

  // ---------- BOOKING-IMAGE
  .booking__image-block {
    display: flex;
    justify-content: center;
    z-index: 100;
  }

  //---------- BOOKING-SECTION
  .booking__booking-form {
    width: 688px;
    height: 294px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding-left: 110px;
    border-radius: 10px 80px 10px 10px;
    background-color: #F4F4F4;
  }

  .common-title-m {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .booking-form__input-block {
    display: flex;

    .booking__input-form {
      text-indent: 20px;
      width: 310px;
      height: 38px;
      background: #FFFFFF;
      border: 1px solid #DEDEDE;
      border-radius: 5px;
      margin-right: 19px;
      outline: #3C3C3C;
    }

    .common-yellow-button {
      width: 172px;
      height: 38px;
    }
  }

  .booking-form__processing {
    display: flex;
    align-items: center;

    .common-text-s-b {
      font-weight: 400;
      font-size: 14px;
      line-height: 33px;
      padding-left: 10px;
    }

    .blue-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 33px;
      color: #23A1D1;
      text-decoration: underline;
    }
  }

  .common-text-s-b {
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
  }
}

// ---------- MEDIA-BOOKING ----------
@media (max-width: 1200px) {
  .row {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .row {
    justify-content: center;


    .booking__image-block {
      order: 2;

      img {
        width: 100%;
        height: auto;
      }
    }

    .booking__booking-form {
      order: 1;
      width: 90%;
      height: 406px;
      padding: 35px;

      .common-title-m {
        order: 1;
        padding-bottom: 10px;
      }

      .booking-form__input-block {
        order: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;

        label {
          width: 100%;
        }

        .booking__input-form {
          width: 100%;
        }

        .common-yellow-button {
          width: 100%;
        }
      }

      .booking-form__processing {
        order: 4;
      }

      .common-text-s-b {
        order: 2;
      }
    }
  }
}
