// ---------- COLORS ----------
$brand-dark: #201f1f;
$brand-grey: #3c3c3c;
$brand-yellow: #f6a700;
$brand-black: #0f0f0f;

.bg-black {
  background-color: $brand-black;
}

.bg-dark {
  background-color: $brand-dark;
}

.bg-grey {
  background-color: $brand-grey;
}

.bg-yellow {
  background-color: $brand-yellow;
}
