// ---------- COLORS ----------
$brand-dark: #201F1F;
$brand-grey: #3C3C3C;
$brand-yellow: #F6A700;

.bg-dark {
  background-color: $brand-dark;
}

.bg-grey {
  background-color: $brand-grey;
}

.bg-yellow {
  background-color: $brand-yellow;
}