// ---------- HEADER ----------
.header {
  font-family: Gilroy, sans-serif;


  // ---------- HEADER-TOP-LINE
  &__top-line {
    height: 50px;

    .container {

      .row {
        justify-content: space-between;

        .text-menu {
          justify-content: space-between;
        }

        div {
          height: 50px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          p {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #ffffff;
            letter-spacing: -0.1px;
          }

          img {
            margin-right: 3px;
          }

        }

        .contacts {
          p {
            font-size: 16px;
            font-weight: 600;
          }
        }

        .callback {
          height: 28px;
          width: 150px;
        }
      }
    }
  }

  // ---------- HEADER-TOP-LINE MEDIA ----------
  @media (max-width: 450px) {
    .header {
      &__top-line {
        display: none;
      }
    }
  }
  @media (max-width: 1240px) {
    .header {
      &__top-line {
        .container {
          .row {
            justify-content: space-between;

            p {
              margin-right: 5px;
            }

            .contacts {
              display: none;
            }
          }
        }
      }
    }
  }
  @media (max-width: 650px) {
    .header {
      .container {
        .row {
          justify-content: space-evenly;

          .col-2 {
            display: none;
          }
        }
      }
    }
  }











  // ---------- HEADER-NAVBAR
  &__navbar {

    div {
      justify-content: center;
      align-items: center;
    }

    &-catalogue {
      .catalogue-button {
        justify-content: space-evenly;
        height: 34px;
        color: black;
        span {
          font-size: 18px;
          padding-left: 10px;
        }
      }
    }

    &-search-form {
      label {
        position: relative;

        input {
          width: 308px;
          height: 41px;
          left: 740px;
          top: 72px;
          border: 1px solid #FFFFFF;
          border-radius: 8px;
          outline: none;
          background-color: $brand-black;
        }

        button {
          position: absolute;
          top: 3px;
          right: 3px;
          background-color: $brand-yellow;
          width: 34px;
          height: 34px;
          border-radius: 8px;
        }
      }
    }





    &-menu {
      display: flex;

      button:nth-child(1) {
        width: 304px;
      }

      .navbar-menu__item {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        height: 100%;
        background-color: transparent;
        color: #FFFFFF;
      }
    }
  }






















  // ---------- HEADER-NAVBAR MEDIA
  @media (max-width: 650px) {
    .header {
      &__navbar {
        display: flex;
        flex-flow: row  wrap;
        &-logo {
          order: 1;
        }
        &-catalogue {
          order: 3;
        }
        &-search-form {
          order: 4;
        }
        &-menu {
          order: 2;
        }
      }
    }
  }


  // ---------- HEADER-BOT-LINE
  &__bot-line {
    height: 41px;
  }

}


