html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-black {
  background-color: #0F0F0F;
}

.bg-dark {
  background-color: #201F1F;
}

.bg-grey {
  background-color: #3C3C3C;
}

.bg-yellow {
  background-color: #F6A700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf");
  src: url("../fonts/Gilroy-Regular.ttf");
}
.header {
  font-family: Gilroy, sans-serif;
}
.header__top-line {
  height: 50px;
}
.header__top-line .container .row div {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__top-line .container .row div p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: -0.1px;
}
.header__top-line .container .row div img {
  margin-right: 3px;
}
.header__top-line .container .row .contacts p {
  font-size: 16px;
  font-weight: 600;
}
.header__top-line .container .row .callback {
  height: 28px;
  width: 150px;
}
.header__navbar .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__navbar-catalogue {
  justify-content: right;
  display: flex;
}
.header__navbar-catalogue .catalogue-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 34px;
  width: 143px;
  height: 34px;
  color: black;
  display: flex;
  justify-content: space-evenly;
}
.header__navbar-catalogue .catalogue-button-hidden {
  display: none;
}
.header__navbar-search-form label {
  position: relative;
}
.header__navbar-search-form label input {
  width: 308px;
  height: 41px;
  padding-right: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #0F0F0F;
  text-indent: 10px;
  outline: none;
}
.header__navbar-search-form label .input-search-button {
  position: absolute;
  width: 34px;
  height: 34px;
  right: 4px;
  top: 3px;
  background: #F6A700;
  border-radius: 8px;
  border: none;
}
.header__bot-line {
  height: 41px;
}

@media (max-width: 450px) {
  .header__top-line {
    display: none;
  }
}
@media (max-width: 1240px) {
  .header__top-line .container .row {
    justify-content: space-evenly;
  }
  .header__top-line .container .row p {
    margin-right: 5px;
  }
  .header__top-line .container .row .contacts {
    display: none;
  }
}
@media (max-width: 650px) {
  .header .container .row {
    justify-content: space-evenly;
  }
  .header .container .row .col-2 {
    display: none;
  }
}
@media (max-width: 375px) {
  .header__navbar-catalogue .catalogue-button-hidden {
    display: flex;
    width: 43px;
    height: 43px;
  }
  .header__navbar-catalogue .catalogue-button {
    display: none;
  }
}
.footer__top-line {
  height: 680px;
}
.footer__bot-line {
  height: 41px;
}

.container-fluid {
  padding: 0;
  font-family: Gilroy, sans-serif;
}

.ad {
  height: 300px;
}

.container {
  max-width: 1240px;
}

button {
  cursor: pointer;
  transition: 0.3s all;
}

button:hover {
  opacity: 0.9;
  transform: scale(0.99);
}

button:active {
  opacity: 0.6;
  transform: scale(0.98);
}

.common-yellow-button {
  min-width: 142px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #F6A700;
  border-radius: 5px;
  border: none;
}

/*# sourceMappingURL=main.css.map */
