html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-black {
  background-color: #0F0F0F;
}

.bg-dark {
  background-color: #201F1F;
}

.bg-grey {
  background-color: #3C3C3C;
}

.bg-yellow {
  background-color: #F6A700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf");
  src: url("../fonts/Gilroy-Regular.ttf");
}
.header {
  font-family: Gilroy, sans-serif;
}
.header__top-line {
  height: 50px;
}
.header__top-line .container .row {
  justify-content: space-between;
}
.header__top-line .container .row .text-menu {
  justify-content: space-between;
}
.header__top-line .container .row div {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__top-line .container .row div p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: -0.1px;
}
.header__top-line .container .row div img {
  margin-right: 3px;
}
.header__top-line .container .row .contacts p {
  font-size: 16px;
  font-weight: 600;
}
.header__top-line .container .row .callback {
  height: 28px;
  width: 150px;
}
@media (max-width: 1240px) {
  .header .header__top-line .container .row {
    justify-content: space-between;
  }
  .header .header__top-line .container .row p {
    margin-right: 5px;
  }
  .header .header__top-line .container .row .contacts {
    display: none;
  }
}
@media (max-width: 986px) {
  .header .header__top-line .container .row .col-2 {
    display: none;
  }
}
@media (max-width: 650px) {
  .header .header .container .row {
    justify-content: space-evenly;
  }
  .header .header .container .row .col-2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .header .header__top-line {
    display: none;
  }
}
@media (max-width: 450px) {
  .header .header__top-line {
    display: none;
  }
}
.header__navbar {
  height: auto;
  min-height: 87px;
  display: flex;
  align-items: center;
}
.header__navbar div {
  justify-content: center;
  align-items: center;
}
.header__navbar-catalogue {
  display: flex;
}
.header__navbar-catalogue .catalogue-button {
  justify-content: space-evenly;
  height: 34px;
  color: black;
  border: none;
}
.header__navbar-catalogue .catalogue-button span {
  font-size: 18px;
  padding-left: 10px;
}
.header__navbar-search-form label {
  position: relative;
  width: 100%;
}
.header__navbar-search-form label input {
  width: 100%;
  height: 41px;
  left: 740px;
  top: 72px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  outline: none;
  background-color: #0F0F0F;
}
.header__navbar-search-form label button {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #F6A700;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: none;
}
.header__navbar-menu {
  display: flex;
}
.header__navbar-menu button:nth-child(1) {
  width: 222px;
}
.header__navbar-menu .navbar-menu__item {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: #FFFFFF;
}
@media (max-width: 1010px) {
  .header .catalogue-button {
    width: 35px;
    height: 35px;
  }
  .header .catalogue-button span {
    display: none;
  }
  .header .navbar-menu__item {
    height: 100%;
  }
  .header .navbar-menu__item span {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .header__navbar {
    height: auto;
  }
  .header .header__navbar div {
    margin: 5px 0;
  }
  .header .header__navbar-logo {
    order: 1;
  }
  .header .header__navbar-catalogue {
    order: 3;
  }
  .header .header__navbar-search-form {
    order: 4;
  }
  .header .header__navbar-menu {
    order: 2;
  }
}
@media (max-width: 500px) {
  .header .header__navbar-logo {
    width: 40%;
  }
  .header .header__navbar-menu {
    width: 60%;
  }
  .header .header__navbar-catalogue {
    max-width: 20%;
  }
  .header .header__navbar-search-form {
    max-width: 80%;
  }
}
.header__bot-line {
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__bot-line .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__bot-line .container p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 0 10px;
}
.header__bot-line .container .mobile__numbers {
  display: none;
}
@media (max-width: 640px) {
  .header__bot-line .container {
    align-items: center;
    justify-content: right;
  }
  .header__bot-line .container p {
    display: none;
  }
  .header__bot-line .container .mobile__numbers {
    align-items: center;
    display: flex;
  }
  .header__bot-line .container .mobile__numbers img {
    padding-right: 5px;
  }
}

.footer__top-line {
  height: 680px;
}
.footer__bot-line {
  height: 41px;
}

.about {
  background-image: url("../img/about/bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 790px;
  display: flex;
  flex-direction: row;
}
.about .container-fluid {
  display: flex;
  align-items: center;
  height: 600px;
}
.about .container-fluid .about__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 550px;
  height: 300px;
}
.about .container-fluid .about__text .common-yellow-button {
  width: 172px;
  height: 38px;
}
.about .container-fluid .about__prev-button,
.about .container-fluid .about__next-button,
.about .container-fluid .about__next-button-small,
.about .container-fluid .about__prev-button-small {
  background-color: transparent;
  border: none;
}

@media (min-width: 769px) {
  .hidden-block {
    display: none;
  }
}
@media (max-width: 768px) {
  .about .container-fluid .about__text {
    width: 100%;
    height: 150px;
  }
  .about .container-fluid .about__text .hidden-button-large {
    display: none;
  }
  .common-title-l {
    text-align: center;
    width: auto;
  }
  .common-text-s-w {
    display: none;
  }
  .about__prev-button,
  .about__next-button {
    display: none;
  }
  .hidden-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hidden-block__button-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
  }
  .hidden-block .hidden-button-small {
    width: 172px;
    height: 38px;
  }
}
.catalogue {
  height: auto;
}
.catalogue__benefits-items {
  display: flex;
  flex-direction: row;
}
.catalogue__benefits-items .benefits-item {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
.catalogue__benefits-items .benefits-item__text {
  width: 280px;
}
.catalogue__benefits-items .benefits-item__background-number {
  position: absolute;
  left: 49px;
  bottom: 32px;
  opacity: 0.1;
  font-size: 47px;
  font-weight: 900;
}
.catalogue__benefits-items .benefits-item img {
  width: 34px;
  height: auto;
}
.catalogue .common-title-m {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.catalogue .sets-table__category {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
}
.catalogue .sets-table__category .category-name {
  justify-content: center;
  display: flex;
  color: #F6A700;
}
.catalogue .sets-table__sets-item {
  display: flex;
  height: 87px;
  justify-content: space-evenly;
  align-items: center;
}
.catalogue .sets-table__sets-item img {
  width: 85px;
  height: 85px;
}
.catalogue .sets-table__sets-item :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.catalogue .sets-table__sets-item :nth-child(2) .item-price {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
}
.catalogue .sets-table__sets-item :nth-child(2) .item-disc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-width: 200px;
}
@media (max-width: 600px) {
  .catalogue .common-title-m {
    text-align: center;
  }
  .catalogue .sets-table__category div:nth-child(3) {
    display: none;
  }
  .catalogue .sets-table__items div:nth-child(n+7) {
    display: none;
  }
  .catalogue .catalogue__benefits-items {
    height: 230px;
    flex-direction: column;
  }
  .catalogue .catalogue__benefits-items .benefits-item {
    width: 100%;
  }
  .catalogue .catalogue__benefits-items .benefits-item .benefits-item__background-number {
    bottom: 27px;
    left: 92px;
  }
}

.container-fluid {
  padding: 0;
  font-family: Gilroy, sans-serif;
  align-items: center;
}

.container {
  max-width: 1200px;
}

button {
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  background-color: transparent;
}

button:hover {
  opacity: 0.9;
  transform: scale(0.99);
}

button:active {
  opacity: 0.6;
  transform: scale(0.98);
}

.common-title-l {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
  color: #FFFFFF;
}

.common-title-m {
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: #0F0F0F;
}

.common-text-s-w {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.common-text-s-b {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0F0F0F;
}

.common-yellow-button {
  width: 142px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #F6A700;
  border-radius: 5px;
  border: none;
}

/*# sourceMappingURL=main.css.map */
