// ---------- IMPORT ----------
@import 'reset';
@import 'color';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'about';
@import 'catalogue';
@import 'features';
@import 'offer';
@import 'manufacturer';
@import 'booking';
@import 'credit';
@import 'masters';

// ---------- COMMON-SETTINGS ----------
.container-fluid {
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  align-items: center;
}

section {
  margin-bottom: 50px;
}

.container {
  max-width: 1200px;
}

button {
  cursor: pointer;
  transition: .3s all;
  border: none;
  background-color: transparent;
}

button:hover {
  opacity: 0.9;
  transform: scale(0.99);
}

button:active {
  opacity: 0.6;
  transform: scale(0.98);
}

.blue-link-button {
  margin-top: 25px;
  padding: 0;
  color: #23A1D1;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
}

.blue-link-button:after {
  display: block;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #23A1D1;
  content: "";
  transition: width 0.3s ease-out;
}

.blue-link-button:hover:after,
.blue-link-button:focus:after {
  width: 100%;
}

.common-yellow-button {
  width: 142px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: $brand-yellow;
  border-radius: 5px;
  border: none;
}

.thick-yellow-line {
  background: linear-gradient(transparent 60%, $brand-yellow 30%);
}


// ---------- COMMON-TEXT-TITLE-SETTINGS
.common-title-l {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
  color: #FFFFFF;
}

.common-title-m {
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: $brand-black;
}


    // ----- BOLD-TEXT
b {
  font-weight: 700;
}

.common-text-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $brand-black;
}

    // ----- WHITE-TEXT
.common-text-s-w {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

    // ----- BLACK-TEXT
.common-text-s-b {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $brand-black;
}


